*{
  margin: 0;
  font-family: arial;
  box-sizing: border-box;
}
.header .profile{
  width: 100%;
}
.footer{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
  padding: 20px 20% 20px 20%;
  position: relative;
  bottom: 0%;
  width: 100%;

}
.card{
  width: 500px;
  background: black;
  color: white;
}